
// ---------------------
// common
// ---------------------

* {
  margin: 0;
  padding: 0;
}

// ---------------------
// header
// ---------------------

header {

  .top-text {
    text-align: center;
    padding: 52px 0;
    background-color: orange;
  }

  .title {
    font-size: 50px;
    color: wheat;

    font-family: 'Tilt Neon', cursive;


  }

}


