
// ---------------------
// common
// ---------------------

* {
  margin: 0;
  padding: 0;
}

// ---------------------
// header
// ---------------------

header {

  .top-img {
    background-image: url(../img/Park.jpg);
    background-size: cover;
  }

  .top-text {
    text-align: center;
    padding: 100px 0;
  }

  .title {
    font-size: 50px;
    color: wheat;
    font-family: 'Tilt Neon', cursive;
  }
}

// ---------------------
// main
// ---------------------

main {

  background-color: aqua;

  .container {
    padding: 16px 0;
  }

  li {
    text-align: center;

    p {
      text-align: left;
      width: 180px;
      margin: 0 auto;
    }
  }

  li + li {
    margin-top: 32px;
  }

}




